{{- if or .Values.secretKeys.apiSecretKeyBase.generate .Values.secretKeys.secretKeyBase.generate .Values.secretKeys.ingestCredentialEncryptionKey.generate }}
{{- $secretName := printf "%s-api-secrets" (include "match.fullname" .) }}
{{- $existingSecret := lookup "v1" "Secret" .Release.Namespace $secretName }}
{{- if not $existingSecret }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "match.fullname" . }}-api-secrets
  labels:
    {{- include "match.labels" . | nindent 4 }}
  annotations:
    {{- if .Values.useArgoSyncWaveAnnotations }}
    argocd.argoproj.io/sync-wave: "-2"
    {{ else }}
    helm.sh/hook: pre-install
    helm.sh/hook-weight: "-3"
    {{- end }}
type: Opaque
data:
  {{- if .Values.secretKeys.apiSecretKeyBase.generate }}
  apiSecretKeyBase: {{ include "match.apiSecretKeyBase" . | b64enc | quote }}
  {{- end }}
  {{- if .Values.secretKeys.secretKeyBase.generate }}
  secretKeyBase: {{ include "match.secretKeyBase" . | b64enc | quote }}
  {{- end }}
  {{- if .Values.secretKeys.ingestCredentialEncryptionKey.generate }}
  ingestCredentialEncryptionKey: {{ include "match.ingestCredentialEncryptionKey" . | b64enc | quote }}
  {{- end }}
{{- end }}
{{- end }}
