---
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "match.fullname" . }}-owning-user-credentials
  labels:
    {{- include "match.labels" . | nindent 4 }}
  annotations:
    {{- if .Values.useArgoSyncWaveAnnotations }}
    argocd.argoproj.io/hook: PreSync
    argocd.argoproj.io/sync-wave: "-2"
    {{ else }}
    helm.sh/hook: pre-install # Only create on first run
    helm.sh/hook-weight: "-1"
    {{- end }}
type: Opaque
data:
  email: {{ .Values.owningUser.email | b64enc | quote }}
  password: {{ include "match.owningUserPassword" . | b64enc | quote }}