---
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "match.fullname" . }}-owning-user-credentials
  labels:
    {{- include "match.labels" . | nindent 4 }}
  # Owning user credentials are used by the seed job only on first in
  # After they they are ignored, so we don't want to re-create them
  # on helm upgrade or Argo syncs
  # Because the password would change - but not reflect what
  # pre-seed set up as the original password making the credentials invalid if an
  # operator comes back to look for the secret.
  annotations:
    {{- if .Values.useArgoSyncWaveAnnotations }}
    argocd.argoproj.io/sync-wave: "-2"
    {{ else }}
    helm.sh/hook: pre-install # Only create on first run
    helm.sh/hook-weight: "-1"
    {{- end }}
type: Opaque
data:
  email: {{ .Values.owningUser.email | b64enc | quote }}
  password: {{ include "match.owningUserPassword" . | b64enc | quote }}