apiVersion: apps/v1
kind: Deployment
metadata:
  name: web-{{ include "match.fullname" . }}
  labels:
    {{- include "match.labels" . | nindent 4 }}
spec:
  selector:
    matchLabels:
      {{- include "match.selectorLabels" . | nindent 6 }}
      matchComponent: web
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "match.labels" . | nindent 8 }}
        matchComponent: web
        {{- with .Values.podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "match.serviceAccountName" . }}
      {{- with .Values.podSecurityContext }}
      securityContext:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - name: {{ .Chart.Name }}
          {{- with .Values.securityContext }}
          securityContext:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          command: ["/bin/bash"]
          args: ["-c", "rm -f /app/tmp/pids/server.pid && bin/rails server -b 0.0.0.0 -p {{ .Values.webServers.port }}"]
          ports:
            - name: http
              containerPort: {{ .Values.webServers.port }}
              protocol: TCP
          env:
            {{- include "match.envVars" . | nindent 12 }}
            {{- with .Values.env }}
            {{- toYaml . | nindent 12 }}
            {{- end }}
          livenessProbe:
            # TODO whats a real health check?
            httpGet:
              path: /
              port: http
          readinessProbe:
            # TODO whats a real health check?
            httpGet:
              path: /
              port: http
          {{- with .Values.webServers.resources }}
          resources:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          volumeMounts:
            {{- include "match.volumeMounts" . | nindent 12 }}
      volumes:
        {{- include "match.volumes" . | nindent 8 }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
