{{- if eq .Values.railsConsole.enabled true }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: rails-console-{{ include "match.fullname" . }}
  labels:
    app.ad-signal.io/type: "railsConsole"
    app.ad-signal.io/appName: "railsConsole"
    {{- include "match.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.railsConsole.replicas }}
  selector:
    matchLabels:
      app.ad-signal.io/type: "railsConsole"
      app.ad-signal.io/appName: "railsConsole"
      {{- include "match.labels" . | nindent 6 }}
  revisionHistoryLimit: 0
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 1
  template:
    metadata:
    {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
    {{- end }}
      labels:
        {{- include "match.labels" . | nindent 8 }}
        matchComponent: railsConsole
        app.ad-signal.io/type: "railsConsole"
        app.ad-signal.io/appName: "railsConsole"
        {{- with .Values.podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "match.serviceAccountName" . }}
      restartPolicy: Always
      {{- with .Values.podSecurityContext }}
      securityContext:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - name: console
          {{- with .Values.securityContext }}
          securityContext:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          # Just spin & wait forever
          command: [ "/bin/bash", "-c", "--" ]
          args: [ "sleep infinity" ]
          env:
            {{- include "match.envVars" . | nindent 12 }}
            {{- with .Values.env }}
            {{- toYaml . | nindent 12 }}
            {{- end }}
          {{- with .Values.railsConsole.resources }}
          resources:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          volumeMounts:
            {{- include "match.volumeMounts" . | nindent 12 }}
      volumes:
        {{- include "match.volumes" . | nindent 8 }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
{{- end }}